<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Eto.Forms" version="2.1.0" targetFramework="net451" />
  <package id="Eto.Platform.Gtk3" version="2.1.0" targetFramework="net451" />
  <package id="GtkSharp" version="3.1.2" targetFramework="net451" />
  <package id="OxyPlot.Core" version="2015.1.1037-alpha" targetFramework="net451" />
  <package id="OxyPlot.GtkSharp3" version="2015.1.1037-alpha" targetFramework="net451" />
</packages>